 .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.expanded-movie-item :hover{
  transform: scale(110%);
  cursor:pointer
}
.expanded-movie-item img {
  width: 100%;
}

.expanded-movie-item h4 {
  display: inline;
}

.expanded-movie-item  > .description {
  display: flex;
  flex-direction: column;
}

.movie-list-item {
  cursor: pointer;
}

.movie-list-item.selected {
  text-decoration: underline;
}