body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.modal{
  overflow: hidden;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;
      overflow: auto;
}
.background-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;
  
  /* z-index must be below modal and above everything else  */
  z-index: 900;
}
.notvisible{
  display: none;
}
.visible{
  display: block;
}